.container {
  background-image: url('https://images-eu.ssl-images-amazon.com/images/G/31/img22/headphones/Mayart/26/GW/Category-Hero_Asin-PC._CB780835435_.jpg');
    background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
}